<h1>Sign up for a Library Card today!</h1>
<p>Please fill out the information below</p>

<form action="/completed">
  <p>First Name:</p>
  <input type="text" name="name">
  
  <p>Last Name:</p>
  <input type="text" name="last_name">
  
  <p>Address:</p>
  <input type="text" name="address">
  
  <p>City:</p>
  <input type="text" name="city">
  
  <p>State:</p>
  <input type="text" name="state">
  
  <p>Zip Code:</p>
  <input type="text" name="zip">
  
  
  
  <br>
  <input type="submit">
</form>